body {
    margin: 0;
    background-color: rgba(229, 238, 234, 0.5);
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.editInfo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    background-color: white;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(45, 159, 104);
    background-image: url('../imagens/change.gif');
}

.editInfo h4 {
    font-family: 'Open Sans Condensed';
    line-height: 80%;
    margin-left: 5%;
    color: rgb(130,130,130);
    font-weight: 300;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.editInfo h4:before {
    content:"•  ";
}

.editInfo h4:hover {
    background-image: url('../imagens/editII.png');
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 80% 50%;
}

#usernameEdit {margin-top: 10%;}

.changeName, .changeUsername, .changeAge, .changeCity, .changeJob, .changeEmail {
    display: none;
    width: 360px;
    height: 60px;
    padding: 10px;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top:70%;
    border-radius: 5px;
}

.editInfo input {
    font-family: 'Open Sans Condensed';
    padding: 5px;
}

.editInfo input[type=text] {
    border: none;
    outline-color: rgb(56, 197, 130);
    width: 250px;
}

.editInfo label {
    font-family:'Open Sans Condensed';
    color: rgb(130,130,130);
}

.editInfo input[type=submit]{
    background-color: rgb(56, 197, 130);
    color: white;
    border-radius: 5px;
    border: none;
    width: 70px;
    cursor: pointer;
}

.profilePic {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: column;
    height: 80%;
    color: white;
    font-family: 'Open Sans Condensed';
    background-color: rgb(56, 197, 130);
    padding: 10px;
    border-radius: 5px;
}

.warning {
    font-family: 'Open Sans Condensed';
    color: rgb(130, 130, 130);
    height: 10%;
    width: 40%;
    text-align: center;
}

#profilephoto {
    padding: 2px;
    margin-bottom: 20px;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(45, 159, 104);
}

.profilePic input {
    color: white;
    font-family: 'Open Sans Condensed';
}

#profilePicHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

#profilePicHeader h2 {margin-left: 10px;}

#submit {
    display:block;
    background-color: rgb(56, 197, 130);
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 40%;
    font-size: 15px;
    margin-top: 34px;
    border: 1px solid rgba(255,255,255, 0.2);
}

.main {
    display: flex;
    background-color: rgb(56, 197, 130);
    width: 70%;
    height: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    border-radius: 10px;
}

#x {
  color: #aaa;
  font-size: 25px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#x:hover, #x:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.editInfo h4:hover {color: rgb(56, 197, 130);}

#submit:hover {background-color: white; color:rgb(56, 197, 130);}

footer {position: absolute !important;}

.navBar {background-image: url('../imagens/gplay.png');}

.logOut img, .menu img {background-color: rgba(229, 238, 234, 0.9);},