body {

    margin: 0;
    background-image: url('../imagens/changeII.gif');
    background-repeat: no-repeat;
    background-color: rgba(229, 238, 234, 0.5);
    height: 100%;
    background-position: 81.5% 65%;
    background-size: 30%, 100%;
    padding: 0;
    overflow: hidden;
}


.editInfo {
    display: block;
    background-color: rgba(56, 197, 130, 0.7);
    padding: 30px 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
}


.editInfo #change {
    margin: 30px;
    margin-left: 20%;
}

.editInfo #change input {
    font-family: 'Open Sans Condensed';
    outline: none;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.editInfo #change input[type=text] {
    width: 200px;
}

.editInfo #change input[type=submit] {
    height: 30px;
}


.profilePic {
    display: flex;
    margin-top: 11%;
    margin-left:auto;
    flex-direction: column;
    background-color: rgb(229, 238, 234);
    padding: 30px 30px;
    padding-right: 50px;
    height: 30%;
    color: rgb(130,130,130);
    font-family: 'Open Sans Condensed';
    border-radius: 10px;
    border: 1px solid rgba(130,130,130, 0.1);
}

#profilephoto {
    border-radius:10px;
    padding: 2px;
    border: 1px double rgba(130,130,130, 0.5);
    margin-bottom: 20px;
}

.profilePic input {
    color: rgb(130,130,130);
    font-family: 'Open Sans Condensed';
}

.profilePic input[type=file]{
    z-index: 1;
}

#profilePicHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profilePicHeader h2 {
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: row;
}

#submit {
    display:block;
    background-color: white;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 40%;
    font-size: 15px;
    margin-top: 34px;
}

#submit:hover{
    color: rgb(56, 197, 130);
}

footer {
    position: absolute !important;
    bottom: 0px !important;
}

.navBar {
    background-image: url('../imagens/gplay.png');
}

.logOut img, .menu img {
    background-color: rgba(229, 238, 234, 0.9);
}