
body {
    background-image: url('../imagens/music.gif');
    background-repeat: no-repeat;
    background-size: 40%;
    background-attachment: fixed;
    background-position: 50% 50%; 
    margin: 0;
    background-color: white;
    overflow: hidden;
}

footer {
    display: flex;
    position: absolute;
    background-color: rgb(16,0,32);
    font-family: "Quicksand";
    color: white;
    bottom: 0;
    width: 100%;
    height: 40px;
    align-items: center;
}

.title {
    font-family: "Quicksand";
    color: rgb(16,0,32);
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}

.ltw {margin: auto;}

.menu #signIn a {
    width: 5%;
    right: 75%;
    top: 45%;
}

.menu #logIn  a {
    width: 5%;
    right: 20%;
    top: 45%;
}

.menu #logIn a, .menu #signIn a {
    background-color: rgb(56, 197, 130);
    text-transform: uppercase;
    font-family:"Open Sans Condensed";
    font-size: 100%;
    padding: 20px 30px;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.menu #signIn a:hover, .menu #logIn a:hover {
    background-color: transparent; 
    border: 1px solid #38c582;
    color: #38c582 !important;
}

.menu  a {text-decoration: none;}

footer a {text-decoration: none;color: white;}

.logo {
    position: absolute;
    left: 1%;
    top: 2%;
}