body {
    margin: 0;
    background-image: url('../imagens/logIn.gif');
    background-color: rgb(239,239,239);
    background-repeat: no-repeat;
    background-size: 550px;
    background-attachment: fixed;
    background-position: 50% 50%;
    overflow: hidden;
}

footer {
    display: flex;
    position: absolute;
    background-color: rgb(16,0,32);
    font-family: "Quicksand";
    color: white;
    bottom: 0;
    width: 100%;
    height: 40px;
    align-items: center;
}

.ltw {
    
    margin: auto;
}

.logInMenu {
    display: block;
    background-color: rgba(56, 197, 130, 0.9);
    position: absolute;
    width: 300px;
    right: 40%;
    top: 36%;

}


.logInMenu p {
    color:white;
    font-family: "Quicksand";
    font-size: 20px;
    text-align: center;
}

.logInMenu input {
    background-color: rgb(228, 226, 226);
    border-radius: 5px;
    font-family:"Open Sans Condensed";
    color: rgb(102, 102, 102);
    opacity: 30%;
    width: 180px;
}

#button {
    width: 100px;
    background-color: white;
    color: rgb(77, 76, 76);
    outline:none;
}

.topBar {
    display: flex;
    background-color: transparent;
    height: 50px;
    align-items: center;
}

.topBar p {
    color: rgb(16,0,32);
    font-family: "Quicksand";
    font-size: 20px;
    margin-right: auto;
}