
body {
    margin: 0;
    background-image: url('../imagens/gplay.png');
    background-color: #e6e6e6;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}


.main {
    width: 100em;
    margin: 60px 20px;
    display: grid;
    grid-template-columns: [left] 25% [middle] 55% [right];
    grid-template-rows: [top] auto [bottom];
    grid-row: top / bottom;
}

.main #bio   {
    display: block;
    background-image: url('../imagens/green.png');
    background-repeat: repeat-x;
    background-size: 150%;
    background-position: bottom;
    margin-bottom: 50%;
    padding: 20px;
    grid-column: left / middle;
    font-family: "Open Sans Condensed";
    border-radius: 2%;
    color:white;
    width: 250px;
    height: 400px;
    line-height: 50%;
}

.main #posts {
    grid-column: middle / right;
    margin-top: 5%;
}


.main #bio h5:before {
    content:"• ";
}

.main #bio h5 {
    font-family: "Quicksand";
    font-weight: 300;
}

.main #bio img {
    border-radius: 50%;
    border: 1px solid #100020;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 5px;
}


#sorts a {
  text-decoration: none;
  font-family: 'Open Sans Condensed';
  color: rgb(16, 0, 32);
  padding: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#sorts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 0.25);
  border-radius: 10px;
  background-image: url('../')
}

#sorts a:hover { color: rgba(16, 0, 32, 0.5); }

.main #bio points:before {

  content: 'Points: ';
}

.main #bio age:after {

  content: ' years old';
}

#insta, #face, #spotify {
    display: block;
    background-image: url('../imagens/instagram.png');
    background-size: 100%;
    width: 30px;
    height: 30px;
    color: transparent;
    position: absolute;
    top: 510px;
    left: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#insta {
    background-image: url('../imagens/instagram.png');
    left: 30px;
}

#face {
    background-image: url('../imagens/facebook.png');
    left: 70px;
}

#spotify {
    background-image: url('../imagens/spotify.png');
    left: 110px;
}

#insta:hover { background-image: url('../imagens/instaHover.png');}
#face:hover {background-image: url('../imagens/facebookHover.png');}
#spotify:hover {background-image: url('../imagens/spotifyHover.png');}

