body {
    margin: 0;
    background-image: url('../imagens/gplay.png');
    background-color: #e6e6e6;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: auto;
}


#channels, #posts {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  font-family: 'Open Sans Condensed';
  color: white;
}

#channels {
  background-image: linear-gradient(to bottom, rgba(16, 0, 32,0.7), transparent);
  border-radius: 10px;
  width: 40%;
  padding: 1%;
}

.main {
  display: flex;
  flex-direction: row;
}

#channels a {
  text-decoration: none;
  color: white;
}

#channels h2 {
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  padding: 1%;
}

#channels h3 , #posts #messages {
  text-align: center;
  background-image: url('../imagens/cute.gif');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 25%;
}

#posts #postsTitle {
  background-color: rgba(16,0,32,0.6);
  border-radius: 10px;
  padding: 1%;
}

#posts #messages { color: rgb(16, 0, 32); }