body {
    margin: 0;
    background-image: url('../imagens/logIn.gif');
    background-color: rgb(239,239,239);
    background-repeat: no-repeat;
    background-size: 40%;
    background-attachment: fixed;
    background-position: 50% 50%;
    overflow: hidden;
}

.signUpMenu {
    display: block;
    background-color: rgba(56, 197, 130, 0.9);
    position: absolute;
    width: 20%;
    right: 39%;
    top: 18%;
} 

#button {
    width: 40%;
    background-color: white;
    color: rgb(77, 76, 76);
}

.signUpMenu p {
    color:white;
    font-family: "Quicksand";
    font-size: 20px;
    text-align: center;
}

.signUpMenu input {
    background-color: rgb(228, 226, 226);
    border-radius: 5px;
    font-family:"Open Sans Condensed";
    color: rgb(102, 102, 102);
    opacity: 30%;
    width: 80%;    
}

footer {
    display: flex;
    position: absolute;
    background-color: rgb(16,0,32);
    font-family: "Quicksand";
    color: white;
    bottom: 0;
    width: 100%;
    height: 7%;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.ErrorMessage {
    font-size: 15px;
    font-family: 'Open Sans Condensed';
    color: white;
    text-align: center;
}

.ltw {
    
    margin: auto;
}

.topBar {
    display: flex;
    background-color:transparent;
    height: 50px;
    align-items: center;
}

.topBar p {
    color: rgb(16,0,32);
    font-family: "Quicksand";
    font-size: 20px;
    margin-right: auto;
}