.main {

	width: 50em;
	margin-left: 30%;
    margin-right: auto;
    margin-top: 125px; 							/* Top margin to avoid having items behind the navigation bar */
}

body {
    background-color: rgb(16,0,32);
    background-image: url('../imagens/shattered-dark.png');
}

.mainContent {
    display: flex;
    flex-direction: row;
}

.subscriptions {
    display:flex;
    margin-left: 5%;
    margin-top: 175px;
    flex-direction: column;
    position: fixed;
    padding: 10px;
    width: 15em;
}

.mainContent a {
    text-decoration: none;
    color: rgb(16, 0, 32);
    font-family: 'Open Sans Condensed';
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    padding: 7px;
}

.miniHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 11%;
  left: 6%;
}

#siteName {
    background-color: transparent;
    color: white;
    font-family: 'Quicksand';
    font-weight: 300;
    margin-left: 10px;
}

.subscriptions a:hover {
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
    -webkit-animation-name: colorChange;
    -webkit-animation-duration: 4s;
    animation-name: colorChange;
    animation-duration: 4s;
}

@keyframes colorChange {
  0%   {background-color:#38c582;}
  25%  {background-color:#6699ff;}
  50%  {background-color:#9966ff; }
  75%  {background-color:#993399;}
  100% {background-color:#660033; }
}

#myBtn {
    display:inline-block;
    background-image: url('../imagens/plusII.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: left;
    outline: none;
    border: none;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Quicksand';
    width: 150px;
    height:40px;
    text-align: right;
    line-height: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  display: flex;
  background-color: rgb(250,250,250);
  background-image: url('../imagens/profile.png');
  margin: 15% auto; 
  padding: 20px;
  height: 30%;
  width: 50%; 
  border-radius: 10px;
  flex-direction: column;
}

.minidiv {
  display: block;
}

.modal-content textarea {
    resize: none;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans Condensed';
    background-color: rgba(146,146,146,0.4);
    float: left;
    width: 620px;
    height: 80px;
    margin-bottom: 10px;
}

#title {
    height: 20px;
    width: 500px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: 2px;
}


.modal-content button, #toUpload, #submit {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'Open Sans Condensed';
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(56, 197, 130, 0.95);
    color: white; 
    margin-left: 10px;
    height: 40px;
    width: 100px;
}


.modal-content p {
  font-family: 'Open Sans Condensed';
  color: rgb(16, 0, 32);
  margin-bottom: 5px;
  margin-top: 10px;
}


.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  padding: 2px;
  margin-left: 5px;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#myBtn:hover {color: white;}

.user {background-color: rgba(146,146,146, 0.6) !important;}

.post {background-color: rgba(250, 250, 250, 0.8) !important;}

#info {background-color: rgba(16, 0, 32, 0.5) !important;}

#existentComments {background-color: rgba(16, 0, 32, 0.4) !important;}

#comments form  textarea:focus {width: 710px !important;}

#comments  form {background-color: rgba(16,0,32, 0.8) !important;}

.navBar {background-color: rgba(250,250,250, 0.85) !important;}

