body {

  display: grid;

  margin: 0 auto;

  grid-template-columns: [left] 1fr [middle] 1fr [right];
  grid-template-rows: [top] auto [bottom];

  grid-row: top / bottom;
}

#left_side {

  grid-column: left / middle;
}

#right_side {

	grid-column: middle / right;
}