#right_side form{

	background-color: #01DF3A;
	color: black;
	text-align: center;
	padding: 2em;
	margin: 0em;
	width: 20em;
}

/*label{

	padding: 1em;
}

label, input {

  	display: block;
}

input{

	border: none;
	border-bottom: 1px solid black;
	margin-top: 1em;
	width: 100%;
}

input[type=submit]{

	border: none;
	background-color: black;
	color: white;
	padding: 1em;
	width: auto;
	margin: 1em;
	margin-left: auto;
}

input:focus {

  	outline: none;
  	border-bottom: 2px solid #046DD5;
}

#register h1, #login h1{

	text-align: center;
}

@media (max-width: 30em){

	#register, #login {
    background-color: white;
  }
}*/