.post {

	display:block;
	margin: 15px;
	padding: 2em;
	text-align: left;
	background-color: rgba(16,0,32, 0.95);
	border-radius: 10px;
	color: white;
	font-family: "Open Sans Condensed";
}

#options {

	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#comments{

	margin-top: 5px;
}

#subcomments {

	margin-left: 2em;
}